<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Contact | FCIT Help Desk</title>

    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />

    <!-------------stylesheet ------------------>
    <link
      rel="stylesheet"
      type="text/css"
      href="~/css/contact.css"
      media="only screen and (min-width:901px)"
    />

    <!-------------Fav-Icon------------------>
    <link
      rel="icon"
      href="~/images/favicon.ico"
      type="image/gif"
      sizes="16x16"
    />

    <!-------------google-fonts ------------------>
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Open+Sans+Condensed:wght@300&family=Source+Code+Pro&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Open+Sans+Condensed:wght@300&family=Source+Code+Pro&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <!--------------------------HEADER-------------------------------->
    <div id="particles-js">
      <div class="mainCourse">
        <div class="navbarCourses-container">
          <div class="navbarCourses">
            <div class="logocoursescontainer">
              <a href="Home" class="logotext">
                <span class="logospan">FCIT </span> HelpDesk</a
              >
            </div>

            <div class="navMenuCoursesMain">
              <ul class="navmenucourses">
                <li>
                  <a href="Home" target="_blank"
                    >home</a
                  >
                </li>
                <li><a href="About" >About</a></li>
                <li><a href="Courses">courses</a></li>
                <li><a href="Team">Team</a></li>
                <li><a href="Socialmedia">Updates</a></li>
                <li><a href="Contact"  style="color: #00adb5">contact</a></li>
                <li><a href="Contribution">contribute</a></li>
                <li>
                  <div class="dropdownCourse">
                    <button
                      class="dropdownMenuButton btn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                    @ViewBag.User.Fname
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a
                        class="dropdown-item-Courses"
                        href="/userProfile/"
                        selected
                        >My Profile</a
                      >
                      <a
                        class="dropdown-item-Courses"
                        href="/adminSite/"
                        id="adminPanel"
                        style="display: none"
                        >Go to Admin Panel</a
                      >
                      <a class="dropdown-item-Courses" href="Home/Logout"
                        >Log out</a
                      >
                    </div>
                  </div>
                </li>
            </ul>
            </div>
          </div>
        </div>

        <div class="mainFormContainer">
          <form asp_controller="Contact" asp_action="SendMessage" method="post" class="formContact" onsubmit="return checkFormData()">
            <div class="contact-head">
              <p class="contact-head-text">
                Write to <span>&nbsp; our Team</span>
              </p>
            </div>

            <div class="input-group shadow p-1 rounded">
              <span class="input-group-text">
                <i class="far fa-user"></i>
              </span>
              <input
                type="text"
                aria-label="First name"
                id="fname"
                name="fname"
                class="form-control"
                placeholder="First Name"
                value="@ViewBag.User.Fname"
                required
              />

              <input
                type="text"
                aria-label="Last name"
                id="lname"
                name="lname"
                class="form-control"
                placeholder="Last Name"
                value="@ViewBag.User.Lname"
                required
              />
            </div>


            <div class="input-group my-0 mb-0 py-3 shadow p-1 rounded">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>

              <label class="input-group-text" for="inputGroupSelect01"
                >Message us for some
              </label>

              <!-- select options -->
              <select
                class="form-select"
                name="selectPurpose"
                id="selectPurpose"
                id="inputGroupSelect01"
                required
              >
                <option value="Suggestion">Suggestion</option>
                <option value="Complaint">Complaint</option>
                <option value="Appreciation" selected>Appreciation</option>
                <option value="Request">Request</option>
              </select>
            </div>

            <div class="form-group shadow p-2 rounded tcmain">
              <textarea
                name="desc"
                id="desc"
                class="form-control"
                placeholder="Type your valuable words here . . ."
                
              ></textarea>
            </div>

            <div class="form-group form-check py-2 my-2">
              <label id="errormsg"
                class="form-check-label my-0 text-center text-warning bg-dark px-2 center"
                for="exampleCheck1"
                >Share your thoughts with us!</label
              >
            </div>

            <!-- send message button -->
            <button 
              type="submit"
              class="loginbtn"
              id="hover-btn-contact"
            >
              Send | <i class="far fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      if ("{{user.designation}}" == "Editor") {
        document.getElementById("adminPanel").style.display = "block";
      }
    </script>

    <script type="text/javascript">

	function checkFormData() {
        console.log(3)
        if (document.getElementById("fname").value.length < 3) {
            console.log(23);
            document.getElementById("errormsg").innerText = "First Name should have at least 3 character!";
            return false;
        } else if (document.getElementById("lname").value.length < 3) {
            document.getElementById("errormsg").innerText = "Last Name should have at least 3 character!";
            return false;
        } else if (document.getElementById("desc").value.length < 5) {
            document.getElementById("errormsg").innerText = "Message is Empty! Have atleast 5 characters.";
            return false;
        }
        document.getElementById("errormsg").innerText = "Successfully Recieved your message!";
        return true;
		}

        
		let is_admin  = "@ViewBag.user.Is_admin";
		if (is_admin === "Y") {
			document.getElementById("adminPanel").style.display = "block";
		}
		
	</script>

  </body>

  <script type="text/javascript" src="~/js/main.js"></script>
  <script type="text/javascript" src="~/js/particles.js"></script>
  <script type="text/javascript" src="~/js/app.js"></script>
</html>
