<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />

    <title>FCIT Help Desk | Register Here</title>

    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />

    <!-------------mobile viewport------------------>
    <meta name="viewport"
          content="width=devide-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />

    <!-------------stylesheet ------------------>
    <link rel="stylesheet"
          type="text/css"
          href="~/css/login.css"
          media="only screen and (min-width:901px)" />

    <!-------------Fav-Icon------------------>
    <link rel="icon"
          href="~/images/favicon.ico"
          type="image/gif"
          sizes="16x16" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-------------google-fonts ------------------>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Open+Sans+Condensed:wght@300&family=Source+Code+Pro&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap"
          rel="stylesheet" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous" />

</head>

<body>
    <!--------------------------HEADER-------------------------------->

    <div id="particles-js">
        <div class="wrapperrr">
            <div class="mainLogin">
                <div class="logoLogin">
                    <a href="/" class="logotext"><span class="logospan">FCIT </span> HelpDesk</a>
                </div>

                <!-- main form container -->
                <div class="mainFormContainer">
                    <!-- sign up form -->

                    <form action="Register/RegisterUser" method="post" class="formSignup" runat="server" id="signupForm" onsubmit="return checkFormData()">
                        @Html.AntiForgeryToken()

                        <div class="loginHead">
                            <p class="loginText">Sign Up Here!</p>
                        </div>

                        <div class="loginHead">
                            <p class="loginText" style="color:red;font-size:14px;" id="errormsg"></p>
                        </div>


                        <!-- input box-1 USERNAME -->

                        <div class="input-group mb-0 shadow p-2 rounded">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>

                            <!-- INPUT First -->
                            <input type="text"
                                   id="fname"
                                   name="fname"
                                   aria-label="First name"
                                   class="form-control"
                                   placeholder="First Name"
                                   required />

                            <!-- INPUT Lat Name -->
                            <input type="text"
                                   id="lname"
                                   name="lname"
                                   aria-label="Last name"
                                   class="form-control mx-2"
                                   placeholder="Last Name"
                                   required />
                        </div>

                        <!-- INPUT box-2 ID roll number-->

                        <div class="input-group my-1 mb-0 shadow p-2 rounded">
                            <span class="input-group-text">
                                <i class="far fa-envelope"></i>
                            </span>

                            <!-- INPUT ROLL NO -->

                            <input type="text"
                                   id="roll"
                                   name="roll"
                                   class="form-control w-110 place"
                                   placeholder="College ID i-e BITF19M024"
                                   aria-label="Username"
                                   autocomplete="off"
                                   required />
                            <span class="input-group-text">&#64;pucit.edu.pk</span>
                        </div>

                        <!-- INPUT PASSWORD -->

                        <div class="input-group mb-0 shadow p-2 rounded">
                            <span class="input-group-text">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            <input type="password"
                                   name="password"
                                   id="password"
                                   class="form-control"
                                   placeholder="Enter a new password!  (6-20 character long)"
                                   required />
                        </div>

                        <div class="input-group mb-0 shadow p-2 rounded">
                            <span class="input-group-text">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            <input type="password"
                                   name="password1"
                                   id="password1"
                                   class="form-control"
                                   placeholder="confirm your Password!  (6-20 character long)"
                                   required />
                        </div>

                        <!-- SELECT / AUTHORIZARION -->

                        <div class="input-group my-0 mb-0 shadow p-2 rounded">
                            <span class="input-group-text">
                                <i class="fas fa-hands-helping"></i>
                            </span>

                            <label class="input-group-text" for="inputGroupSelect01">
                                Wanna join FCIT Help Desk as ?
                            </label>

                            <!-- select options -->
                            <select class="form-select"
                                    name="joinas"
                                    id="inputGroupSelect01"
                                    required>
                                <option selected value="User">Regular User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>

                        <!-- submit div -->
                        <div class="form-group form-check text-center my-0">
                            <!-- sign up button -->

                            <button type="submit" class="loginbtn mt-3">Sign Up</button>
                        </div>

                        <div>
                            <!--sign -in -->
                            <p class="forgotpass my-3">Already a member ? <a href="/login" class="resethere">login here </a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="~/js/particles.js"></script>
<script type="text/javascript" src="~/js/app copy.js"></script>
<script type="text/javascript" src="~/js/app.js"></script>
<script type="text/javascript">

    function checkFormData() {
        console.log("12345");
        console.log(document.getElementById("fname").value);
        console.log("Clicked");
        if (document.getElementById("fname").value.length < 3) {
            document.getElementById("errormsg").innerText = "First Name should have at least 3 character!";
            return false;
        } else if (document.getElementById("lname").value.length < 3) {
            document.getElementById("errormsg").innerText = "Last Name should have at least 3 character!";
            return false;
        } else if (document.getElementById("roll").value.length != 10) {
            document.getElementById("errormsg").innerText = "Invalid FCIT ID!";
            return false;
        } else if (document.getElementById("password").value.length < 6 || document.getElementById("password").value.length > 12) {
            document.getElementById("errormsg").innerText = "Password should have length 6-12 character!";
            return false;
        } else if (document.getElementById("password").value != document.getElementById("password1").value) {
            document.getElementById("errormsg").innerText = "Password Mismath!";
            return false;
        }
        return true;
    }
</script>
</html>
