@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --DarkBlue: #ffbb00;
    --dark1: #222831;
    --dark2: #393e46;
    --primary: #00adb5;
    --body: #eeeeee;
}


body,
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, monospace !important;
}

p {
    color: red;
}

/* particle background */
#particles-js {
    position: relative;
    background-image: linear-gradient( rgba(3, 38, 43, 0.485), rgba(0, 27, 41, 0.743) ), url(../images/pu_oc.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;
}

/* Course */

.mainCourse {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#020c20ec, #0a1922ee);
    flex-direction: column;
}

.navbarCourses-container {
    display: flex;
    justify-content: center;
}

.navbarCourses {
    width: 80%;
    display: flex;
    height: 10vh;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.logocoursescontainer {
    display: flex;
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 40px; */
}

.logocourses {
    display: flex;
    height: 35px;
}

.logotext {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    /* margin-left: 20px; */
}

.logospan {
    color: var(--primary);
    padding-right: 3px;
}

.navMenuCoursesMain {
    display: flex;
    height: 100%;
    width: 70%;
}

.navmenucourses {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

    .navmenucourses li {
        display: flex;
        list-style-type: none;
        padding: 0 10px;
    }

        .navmenucourses li a {
            text-transform: capitalize;
            display: flex;
            color: white;
            text-decoration: none;
            padding: 5px 10px;
            transition: all 0.3s;
        }

            .navmenucourses li a:hover {
                color: var(--primary);
            }

/* dropdown - courses */

.dropdownMenuButton {
    padding: 5px 20px;
    background-color: var(--primary) !important;
    width: fit-content !important;
    border: none;
    color: var(--body) !important;
    border-radius: 5px;
}

.dropdown-menu {
    color: var(--primary) !important;
    background-color: #003343 !important;
}

.dropdown-item-Courses {
    color: var(--body);
}

    .dropdown-item-Courses:hover {
        border: none !important;
    }

.center-items {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginbtn {
    text-align: center;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--primary);
    color: var(--body);
    cursor: pointer;
    transition: all 0.5s;
}

    .loginbtn:hover {
        color: var(--body);
        background-color: #003343;
    }
