:root {
  --DarkBlue: #ffbb00;
  --dark1: #222831;
  --dark2: #393e46;
  --primary: #00adb5;
  --body: #eeeeee;

  --Lato: "Lato", sans-serif;
  --fontBodyVaro: "Arvo", serif;
  --condensed: "Open Sans Condensed", sans-serif;
  --sourceCode: "Source Code Pro", monospace;
  --ubuntu: "Ubuntu", sans-serif;
  --ubuntuCondensed: "Ubuntu Condensed", sans-serif;
  --Ralweway: "Raleway", sans-serif;

  --marquee-width: 80vw;
  --marquee-height: 30vh;
  --marquee-elements: 5; /*defined with JavaScript*/
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 6s);
}

/* 


*/

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", monospace;
  letter-spacing: 1.2px;
  /* overflow: hidden; */
}

/* particle background */
#particles-js {
  position: relative;
  /* background-image: linear-gradient(
      rgba(3, 38, 43, 0.885),
      rgba(0, 27, 41, 0.713)
    ),
    url(../images/pu_oc.png); */
  background-color: var(--dark1);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
}


/* Course */

.mainCourse {
  position: absolute;
  width: 100%;
  flex-direction: column;
}


.navbarCourses-container {
  display: flex;
  justify-content: center;
}
.navbarCourses {
  width: 80%;
  display: flex;
  height: 10vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.logocoursescontainer {
  display: flex;
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 40px; */
}

.logocourses {
  display: flex;
  height: 35px;
}

.logotext {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  /* margin-left: 20px; */
}

.logospan {
  color: var(--primary);
  padding-right: 3px;
}

.navMenuCoursesMain {
  display: flex;
  height: 100%;
  width: 70%;
}

.navmenucourses {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navmenucourses li {
  display: flex;
  list-style-type: none;
  /* margin-left: 0 10px; */
  padding: 0 10px;
}

.navmenucourses li a {
  text-transform: capitalize;
  display: flex;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s;
}

.navmenucourses li a:hover {
  color: var(--primary);
}

/* dropdown - courses */

.dropdownMenuButton {
  padding: 5px 20px;
  background-color: var(--primary) !important;
  width: fit-content !important;
  border: none;
  color: var(--body) !important;
  border-radius: 5px;
}

.dropdown-menu {
  color: var(--primary) !important;
  background-color: #003343 !important;
}

.dropdown-item-Courses {
  color: var(--body);
}
.dropdown-item-Courses:hover {
  border: none !important;
}

.center-items {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}